* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}
.home-body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    position:relative;
    overflow:auto;
}

.bottom-style {
    width:100%;
    height:44px;
    background:lightgray;
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:fixed;
    bottom:0;
}

.iconfont {
    font-size:20px;
    color:white;
}

.bottom-style-size {
    font-size:14px;
}